.postings-component-container {
    display: block;
    width: 100%;
    height: auto;
    /* background-color: black; */
}

/* Desktop (default) */
.postings-container {
    display: block !important;
    text-align: center !important;
    width: 100%;
    max-height: 300px;
    min-width: 300px;
    margin-top: 2px;
}

.postings-container .adsbygoogle {
    display: inline-block !important;
    margin: 0 auto !important;
    width: 300px;
    height: 250px;
}

/* Mobile / Responsive: adjust when viewport is less than 768px */
@media (max-width: 768px) {
    .postings-container {
        width: 100% !important;
        min-width: 300px !important;
    }

    .postings-container .adsbygoogle {
        width: 100% !important;
        height: auto !important;
        max-width: 300px !important;
    }
}


/* Default styling for banner ads */
.postings-container .adsbygoogle-banner {
    display: block !important;
    text-align: center !important;
    width: 100%;
    max-width: 728px;
    height: auto;
    text-align: center;
}

/* Ensure proper scaling on mobile */
@media (max-width: 768px) {
    .postings-container {
        width: 100%;
        text-align: center;
    }

    .postings-container .adsbygoogle-banner {
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
    }
}




@media (max-width: 806px) {

    .top-postings-container,
    .postings-container {

        max-width: 100%;
        width: auto;
        height: auto;
    }
}

.postings-row-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 660px;
    margin: 20px 0;

    img {
        border: 2px solid #6000ce;

    }
}



.mobile-postings-container {
    display: none;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

@media (max-width: 806px) {
    .mobile-postings-container {
        display: flex;
        height: auto;
    }
}

.mobile-box-postings-container {
    display: none;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

@media (max-width: 806px) {
    .mobile-box-postings-container {
        display: flex;
        width: 100%;
        height: auto;
    }
}

.postings-bottom-container img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 806px) {
    .postings-bottom-container img {
        display: flex;
        width: 100%;
        height: auto;
    }
}