.postings-component-container {
    display: block;
    width: 100%;
    height: auto;
    /* background-color: black; */
}

.postings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    width: 100%;
    height: auto;

    img {
        border: 2px solid #6000ce;
    }
}

.top-postings-container {
    max-height: 220px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}


@media (max-width: 806px) {

    .top-postings-container,
    .postings-container {
        max-width: 100%;
        /* Ensure it uses full width on smaller screens */
        width: auto;
        /* Full width for mobile */
        height: auto;
    }
}

.postings-row-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 660px;
    margin: 20px 0;

    img {
        border: 2px solid #6000ce;
        /* width: 440px; */
        /* height: 440px; */
    }
}



.mobile-postings-container {
    display: none;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

@media (max-width: 806px) {
    .mobile-postings-container {
        display: flex;
        height: auto;
    }
}

.mobile-box-postings-container {
    display: none;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

@media (max-width: 806px) {
    .mobile-box-postings-container {
        display: flex;
    }
}

.row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    align-items: center;
    margin-bottom: 20px;
}

.postings-bottom-container img {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    /* margin: 20px; */
}