.breadcrumb-container {
    background: transparent;
    margin-top: 0px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.breadcrumb-list {
    list-style-type: none;
    padding: 0px 0px 0px 16px;
    margin: 0;
    display: flex;
    align-items: center;
    /* Keeps all elements in a row */
}

.breadcrumb-item {
    font-size: 16px;
    display: flex;
    align-items: center;
    /* Ensures items align properly */

    @media (max-width: 768px) {
        font-size: 8px;
    }
}

.breadcrumb-item:last-child {
    margin-right: 0;
    font-weight: bold;
    /* Highlights the current page */
}

.breadcrumb-item a {
    text-decoration: none;
    color: #7212e0;
    transition: color 0.3s;
}

.breadcrumb-item a:hover {
    color: #00a60b;
}

.breadcrumb-separator {
    margin: 0 5px;
    width: 10px;
    height: 8px;
    display: inline-flex;
    /* Prevents moving to the next line */
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .breadcrumb-separator {
        width: 8px;
        height: 4px;
        margin: 0 3px;
    }
}