/* Navbar Styling */
.nav {
    background: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border-bottom: 4px solid #971ae1;
    top: 0;
    z-index: 100;
    padding: 1rem 1.5em;
    box-sizing: border-box;
    position: relative;
}

/* Responsive Navbar Padding */
@media (max-width: 768px) {
    .nav {
        padding: 0 1em;
    }
}

/* Logo Styling */
.logo {
    padding-left: 15px;
    width: 220px;
    height: 40px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo {
        padding-left: 0;
    }
}

/* Hamburger Menu Styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background: #000;
    margin-bottom: 4px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}

/* Menu Items Styling */
.menu {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .menu {
        position: fixed;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        background: white;
    }

    .menu.open {
        display: flex;
    }

    .menu.closed {
        display: none;
    }
}

.menu-item {
    padding: 0 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.08rem;
}

.menu-item:hover {
    color: #00a60b;
}

.menu-item:active {
    transform: translateY(2px);
}

@media (max-width: 768px) {
    .menu-item {
        width: 100%;
        padding: 1rem 0;
        text-align: left;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
}

/* Search Bar Container Styling */
.search-bar-container {
    position: fixed;
    top: 60px;
    right: 1rem;
    width: 20%;
    padding: 0 1rem;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    overflow: visible;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
}

/* Show Search Bar When Open */
.search-bar-container.open {
    display: flex;
}

/* Hide Search Bar When Closed */
.search-bar-container.closed {
    display: none;
}

/* Search Bar Styling */
.search-bar {
    width: 100%;
    background: rgba(0, 166, 11, 1);
    border-radius: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: none;
}

/* Search Icon Styling */
.search-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .search-icon {
        order: -1;
        margin-left: 0;
        margin-right: 1rem;
    }
}

.search-icon-image {
    width: 25px;
    height: 25px;
}

/* Suggestions List Styling */
.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Individual Suggestion Item Styling */
.suggestions-list li {
    padding: 0.5rem;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}