/* Ensure scrollbar is always visible to prevent navbar shifting */
html {
	overflow-y: scroll;
}

/* Container for the entire page content to push footer to bottom */
.page-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}


.page-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	flex: 1;
	/* Ensure this container takes up available space */

	@media (max-width: 768px) {
		padding-left: 2px;
		padding-right: 2px;
	}
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.row-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	align-items: center;
	margin-bottom: 20px;
}

.title-heading {
	word-wrap: break-word;
	white-space: normal;
	overflow-wrap: break-word;
	text-align: center;
	max-width: 100%;
	font-size: 1.8rem;
	line-height: 1.2;
	margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
	.title-heading {
		width: 100%;
		font-size: 1.4em;
		margin-bottom: 0rem;
		padding-left: 20px;
		padding-right: 20px;
	}
}


/* Keyframes for shake animation */
@keyframes shake-animation {
	0% {
		transform: translateX(0);
	}

	10% {
		transform: translateX(-10px);
	}

	20% {
		transform: translateX(10px);
	}

	30% {
		transform: translateX(-10px);
	}

	40% {
		transform: translateX(10px);
	}

	50% {
		transform: translateX(0);
	}
}