.blog-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

/* .breadcrumb-container {
    width: 100%;
    padding-top: 0px;
} */


.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-heading {
    font-size: 2rem;
    color: #333;
    margin: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .section-heading {
        font-size: 1.5rem;
    }
}