body {
    overflow-x: hidden;
}

.home-container {
    text-align: center;
    margin-top: 2%;
}

.home-container h1 {
    font-size: 2rem;
    margin-bottom: 0;

    @media (max-width: 768px) {
        font-size: 1.6rem;
    }

}

.home-container .landing-subtitle {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 300;
}

.next-to-p-image {
    height: 20px;
    width: 14px;
    margin-left: 5px;
    vertical-align: middle;
}

.home-main-links {
    width: 100%;
    margin: 2% auto 14% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 0 15px;
}

@keyframes spinAnimation {
    100% {
        transform: rotate(360deg);
    }
}

.home-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    margin: 1%;
    color: black;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    box-sizing: border-box;
}

.home-links:hover img {
    animation: spinAnimation 0.3s linear 1;
}

.home-links:hover .home-figcaption {
    color: #7600ff;
}

.home-links:focus {
    outline: 3px solid #7600ff;
}

@media (max-width: 768px) {
    .home-links {
        width: 70%;
    }
}

.home-links img {
    padding: 5px;
    width: 220px;
    height: 200px;

    @media (max-width: 768px) {
        width: 180px;
        height: 160px;
        padding: 5px;
    }
}

.home-figcaption {
    color: black;
    transition: color 0.3s ease-in-out;
    padding-bottom: 5px;
}