html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Ensures horizontal overflow is hidden on all devices */
    width: 100%;
}

.home-container {
    text-align: center;
    margin-top: 2%;
}

.home-container h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .home-container h1 {
        font-size: 1.6rem;
    }
}

.home-container .landing-subtitle {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 300;
}

.next-to-p-image {
    height: 32px;
    width: 40px;
    color: #7600ff;
}

.home-main-links {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    box-sizing: border-box;
    /* padding: 8px; */
}

@keyframes spinAnimation {
    100% {
        transform: rotate(360deg);
    }
}

.home-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.219);
    border-radius: 50%;
    margin: 12px;
    color: black;
    font-size: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .home-links {
        width: 60%;
        margin: 1%;
        font-size: 12px;
    }
}

.home-links:hover img {
    animation: spinAnimation 0.3s linear 1;
}

.home-links:hover .home-figcaption {
    color: #7600ff;
}

.home-links:focus {
    outline: 3px solid #7600ff;
}

.home-links img {
    padding: 5px;
    width: 220px;
    height: 220px;
}

@media (max-width: 768px) {
    .home-links img {
        width: 120px;
        height: 120px;
        padding: 0px;
    }
}

.home-figcaption {
    color: black;
    transition: color 0.3s ease-in-out;
    font-size: 1.1rem;
}


.TopBannerImage {
    width: 100%;
    margin: auto;
    height: auto;
    display: block;
}