.page-container {
    padding: 20px;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    line-height: 1.8;
}

.top-banner-container {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.TopBanner {
    display: inline-block;
    position: relative;
}

.TopBannerImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section-heading {
    font-size: 2em;
    margin-bottom: 1em;
    color: #000000;
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.row-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.postings-row-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 660px;
    margin: 20px auto;
}

.mobile-postings-container {
    display: none;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .mobile-postings-container {
        display: flex;
    }
}

@media (max-width: 768px) {
    .page-container {
        padding: 10px;
        max-width: 98%;
    }
}