/* Global Smooth Scrolling for All Devices */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Serif Pro', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: 600;
  margin: 0;
  padding: 0;
  position: relative;
  /* Relative positioning for the body content */
  z-index: 1;
  /* Ensure body content is above the background */
  min-height: 100vh;
  /* Ensure the body's minimum height covers the viewport */
  overflow-y: auto;
  /* Enable scrolling for the body */
  background-image: linear-gradient(180deg, #faf3e0 0%, #fdebd3 100%);
  /* Soft beige to pastel peach gradient background */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}